Include /etc/ssh/sshd_config.d/*.conf

PermitRootLogin yes
PermitRootLogin prohibit-password

PubkeyAuthentication yes
PasswordAuthentication no 
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no

UsePAM yes

PrintMotd no

AcceptEnv LANG LC_* COLORTERM NO_COLOR

Subsystem	sftp	/usr/lib/openssh/sftp-server
