WG_PORT=51820
WEB_UI_PORT=51821

# Secure default: Web UI accessible only from server itself.
# Use ssh-tunnel:
# ssh -L 51821:127.0.0.1:51821 root@SERVER_IP
WEB_BIND=127.0.0.1

# =========================
# Web UI settings
# =========================

# For HTTP without reverse proxy.
# You can use Caddy/Nginx for HTTPS
PORT=51821
HOST=0.0.0.0
INSECURE=true

# Applying only in first start without existing volume
INIT_ENABLED=true
INIT_USERNAME=wgadmin
INIT_PASSWORD=

# Client's endpoint port.
INIT_PORT=51820

# DNS for clients
INIT_DNS=1.1.1.1,8.8.8.8

# Subnet for clients.
INIT_IPV4_CIDR=10.8.0.0/24

# All clietn's IPv4 traffic go to VPN.
INIT_ALLOWED_IPS=0.0.0.0/0

# =========================
# Docker network settings
# =========================

DOCKER_NET_V4=10.42.42.0/24
DOCKER_CONTAINER_IP_V4=10.42.42.42
